<div class="container mx-auto">
  <div class="py-32 relative mb-8">
    <div class="m-auto absolute inset-0 -z-10 aspect-square rounded-full blur-[200px] bg-accent-500/50 max-w-4xl -translate-y-1/2 w-[65%]" aria-hidden="true"></div>
    <div class="container mx-auto relative">
      <div class="mx-auto max-w-md text-center">
        <h1 class="text-5xl !leading-[1.125] font-bold text-t-primary mb-4">
          {{ name }}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="components">
  {% for componentId in components_order %}
    {% render_component componentId %}
  {% endfor %}
</div>